apiVersion: apps/v1
kind: Deployment
metadata:
  name: call-center-api
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: call-center-api
  template:
    metadata:
      labels:
        app: call-center-api
    spec:
      containers:
        - name: nodejs-app
          image: 692859934069.dkr.ecr.ap-south-1.amazonaws.com/callcenterapp:35d4697ac5c64d7ae9ceaca53d3c3f887af51daa
          ports:
            - containerPort: 4000
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 4000
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 4000
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3
