apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      scrape_timeout: 10s
      evaluation_interval: 15s
    scrape_configs:
      # ===== PROMETHEUS ITSELF =====
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      # ===== KUBERNETES NODE EXPORTER =====
      - job_name: 'node-exporter'
        static_configs:
          - targets: ['node-exporter.monitoring.svc.cluster.local:9100']

      # ===== KUBELET METRICS =====
      - job_name: 'kubelet'
        scheme: https
        metrics_path: /metrics
        tls_config:
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

      # ===== SCRAPE ALL PODS THAT HAVE:  annotations prometheus.io/scrape="true" =====
      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: "true"
          - source_labels: [__meta_kubernetes_pod_ip]
            action: replace
            target_label: __address__
            regex: (.*)
            replacement: $1:80
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)